*
{
    margin: 0;
    font-family: sans-serif;
}
header
{
    background-color: #F22D2A;
    width: 100%;
    color: white;
}
.head-flex
{
    display: flex;
    gap: 20px;
}
.head-1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.head-1-1
{
    display: flex;
    gap: 70px;
    align-items: center;
}
.size-6
{
display: none;
}
.sek1-h1
{
    width: 600px;
    font-size: 70px;
    color: white;
}
.sek-p
{
    color: #FEFEFE;
    width: 550px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.sek1
{
    background-color: #F22D2A;
}
.q1
{
    margin: 0;
   display: block;
}
.q2
{
    margin-left: 30px;
    margin-top: 20px;
}
.dflexinsek1
{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.menu
{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #FFC71F 40%,#FFAF18 50%);
    color: white;
    width: 200px;
    padding: 10px;
    height: 30px;
    align-items: center;
    border-radius: 25px;
    margin: auto;
    position: absolute;
    margin-left: 40%;
    margin-top: -25px;   
}
.sek2 img
{
width: 100%;
margin-top: 30px;
}

















@media (max-width:510px) 
{
.headp
{
    display: none;
}
.head-flex
{
    display: none;
}
.size-6
{
    display: block;
    width: 40px;
    height: 60px;
}
.qq
{
    display: none;
}
}