*
{
    margin: 0;
    font-family: sans-serif;
}
header
{
    background-color: #F22D2A;
    width: 100%;
    color: white;
}
.head-flex
{
    display: flex;
    gap: 20px;
}
.head-1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.head-1-1
{
    display: flex;
    gap: 70px;
    align-items: center;
}